*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url("img/bg-desktop.svg");
    background-color: rgb(99, 61, 189);
    background-size: cover;
    background-repeat: no-repeat;
}

header img{
    padding-left: 120px;
    padding-top: 80px;
}

section{
    display: flex;
    justify-content: space-between;
}

section img{
    padding-left: 120px;
    padding-top: 80px;
}

.txt{
    padding-right: 340px;
    padding-top: 100px;

    width: 850px;
}

.txt h2{
    font-size: 52px;
    color: #fff;
    margin-top: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.txt p{
    color: #fff;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 30px;
    padding-left: 5px;

    letter-spacing: 2px;
}

.txt button{
    width: 190px;
    height: 50px;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 30px;
    border: px solid rgb(0, 37, 46);
    border-radius: 30px;
    color: rgb(99, 61, 189);
    background-color: #fff;
    box-shadow: 2px 3px 9px #000000c0;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: flex-end;
    color: #fff;
    align-items: center;

    width: 80%;
    height: 50px;
    bottom: 0;
    position: fixed;
    padding-bottom: 40px;
}

footer img{
    cursor: pointer;
    margin-left: 20px;
}

@media only screen and (max-width: 1700px) {
    .txt {
        margin-left: 100px;
        padding-right: 140px;
    }
  }

  @media only screen and (max-width: 1270px){
    section{
        display: flex;
        flex-direction: column;
    }
    body{
        height: auto;
    }
  }
